# Dependency directories (Never commit these!)
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables / API Keys (Keep your BattleMetrics token safe!)
.env

